body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-control {
  width: 200px;
  margin-right: 10px !important;

  height: 34px;
  background-color: #e1e9ee;

  
    border: none;
    border-radius: 2px;
    padding: 0 8px 0 28px;
    line-height: 1.75;
    color: rgba(40,62,74,.75);
    font-weight: 400;
    font-size: 14px;
    height: 34px;
    background-color: #e1e9ee;

    vertical-align: middle;

    transition-timing-function: cubic-bezier(0,0,.2,1);
    transition-duration: 334ms;
    display: flex;
    flex-grow: 1;
    position: relative;
    margin: 0 16px 0 0;
    min-width: 280px;
    
    z-index: 101;
  
}

.menu {
  /* display: flex; */
  height: 100%;
  
  text-align: center;
}

.menu .nav-name {

  font-size: 15px;
  line-height: 0;
  display: block;
  color: #c7d1d8;
  font-weight: 400;
  transition: color .3s;

  /* position: relative;
  display: inline-block; */
} 

.menu #icon {

  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 167ms;
  display: inline-block;
  height: 24px;
  width: 24px;
  color: #c7d1d8;
  opacity: 1;
  position: relative;
  left: auto;
  top: auto;
  margin-left: auto;
  -webkit-clip-path: none;
  clip-path: none;
  transform: scale(1);
 
  /* margin-left: 2px;
  display: block; */
}

#main-nav {
  padding: 0 30px;
  background: #283e4a;
  border-top: none;
  box-shadow: none;
  height: 52px;
  display: block;

  position: fixed;
    top: 0;
    left: 0;
    height: 55px;
    width: 100%;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    display: flex!important;

    align-items: center!important;

    margin: auto;

    box-sizing: inherit;

    align-items: flex-end;
    background: none;
    flex-shrink: 0;
    height: 100%;
    margin: 0 0 0 auto;
    overflow: visible;
    position: relative;
    width: auto;
    z-index: 100;
}



.profile {
  padding-top: 40px;
}

img.profile-photo{
  margin-top: -63px;
  height:200px;
}

.logo {
  flex: 0 0 auto;
  margin-right: 12px;
}
/* img {
  margin-top: -63px;
  height:200px;
} */

.experience {
  max-width: 800px;
  height: 700px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5px;
  
}

.card {
  width: 100%;
  /* max-width: 540px; */
  border: 0;
}

#plus {
  display: block;
  
 
}

#plus:hover {
  border-radius: 50%;
  color: cornflowerblue;
  
}

/* .title {
  margin: 1px;
} */

#post {
  width: 100%;
  margin: 2px;
  height: 50px;
}

